{% macro user_list(users, type, empty_message) %}
    <div class="user-list-wrapper">
        <ul id="list-{{ type }}" class="user-list">
            {% for user in users %}
                {{ _self.user_row(user, type) }}
            {% else %}
                <li class="empty-list">{{ empty_message }}</li>
            {% endfor %}
        </ul>
    </div>
{% endmacro %}

{% macro user_row(user, type) %}
    <li id="{{ type }}-{{ user.id }}" class="user-list-row">
        <div>
            <div class="action"><a href="#" class="remove-{{ type }}">Remove</a></div>
            <div class="data">
                <span class="name">
                    <a href="{{ path('_user_show', { 'id': user.id }) }}">{{ user.firstName }} {{ user.lastName }}</a>
                </span>
            </div>
        </div>
    </li>
{% endmacro %}

{% macro student_list(students, empty_message) %}
    <div class="user-list-wrapper">
        <ul id="list-student" class="user-list">
            {% for student in students %}
                {{ _self.student_row(student) }}
            {% else %}
                <li class="empty-list">{{ empty_message }}</li>
            {% endfor %}
        </ul>
    </div>
{% endmacro %}

{% macro student_row(student) %}
    <li id="student-{{ student.user.id }}" class="student-list-row">
        <div class="action"><a href="#" class="remove-student">Remove</a></div>
        <div class="data">
            <span class="name">
                <a href="{{ path('_user_show', { 'id': student.user.id }) }}">{{ student.user.firstName }} {{ student.user.lastName }}</a>
            </span>
            <form class="user-grade" style="display: inline;">
                &mdash; Grade:
                <select style="font-size: 14px;" class="grade-selector" name="grade">
                    {% for i in range(12, 1) %}
                        {% set selected = '' %}
                        {% if i == student.grade %}
                            {% set selected = 'selected="selected"' %}
                        {% endif %}
                        <option {{ selected }}>{{ i }}</option>
                    {% endfor %}
                </select>
            </form>
        </div>
    </li>
{% endmacro %}