<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>IMPETUS - {% block title %}{% endblock %}</title>
        {% stylesheets filter='cssrewrite'
                       'bundles/impetusapp/css/main.css'
                       'bundles/impetusapp/css/quiz.css' %}
            <link type="text/css" href="{{ asset_url }}" rel="stylesheet" />
        {% endstylesheets %}
        {% if page == 'path' %}
            <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
        {% endif %}
        {% javascripts 'bundles/impetusapp/js/jquery-1.6.3.min.js'
                       'bundles/impetusapp/js/pathmap.js' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% block extrascripts %}
        {% endblock %}
    </head>
    <body>
        <div id="wrapper">
            <div id="header">
                <span id="title">IMPETUS Tutoring and Mentoring</span>
                <div id="user-info">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        Welcome {{ app.user.username }} - <a href="{{ path('_logout') }}">Logout</a>
                    {% else %}
                        <a href="{{ path('_login') }}">Login</a>
                    {% endif %}
                </div>
            </div>
            <div id="main">
                <div id="content-wrapper">
                    <div id="content">
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
                <div id="navigation">
                    <ul id="menu-links">
                        <li class="{% if page == 'home' %}selected{% endif %}">
                            <a href="{{ path('_home') }}">Home</a>
                        </li>
                        <li class="{% if page == 'path' %}selected{% endif %}">
                            <a href="{{ path('_path') }}">Path</a>
                        </li>
                        <li class="{% if page == 'quiz' %}selected{% endif %}">
                            <a href="{{ path('_quiz') }}">Quiz</a>
                        </li>
                        <li class="{% if page == 'survey' %}selected{% endif %}">
                            <a href="{{ path('_survey') }}">Survey</a>
                        </li>
                        <li class="{% if page == 'attendance' %}selected{% endif %}">
                            <a href="{{ path('_attendance') }}">Attendance</a>
                        </li>
                        <li class="{% if page == 'schedule' %}selected{% endif %}">
                            <a href="{{ path('_schedule') }}">Schedule</a>
                        </li>
                    </ul>
                </div>

                <br class="clear-fix" />
            </div>
        </div>
    </body>
</html>
