{% import "ImpetusAppBundle:Macros:sidebar.html.twig" as sidebar %}

<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Cache-Control" content="no-cache" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>IMPETUS - {% block title %}{% endblock %}</title>

        <link type="text/css" href="{{ asset('bundles/impetusapp/css/main.css') }}" rel="stylesheet" />

        <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script type="text/javascript" src="{{ path('fos_js_routing_js', { "callback": "fos.Router.setData" }) }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/impetusapp/js/jquery-1.6.3.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/impetusapp/js/main.js') }}"></script>

        <script type="text/javascript">
          $(function() {
              var currentUrl = 'http://localhost{{ app.request.getRequestUri }}';
              Impetus.init(currentUrl);
          });
        </script>

        {% block extrascripts %}
        {% endblock %}
    </head>
    <body>
        <div id="wrapper">
            <div id="header">
                <span id="title">
                    <a href="{{ path('_home') }}">IMPETUS Cooperative Learning</a>
                </span>
                {% if app.session.hasFlash('notice') %}
                    <div id="flash-notice-wrapper">
                        <div id="flash-notice">
                            {{ app.session.flash('notice') }} &mdash;
                            <a href="#" class="dismiss">Dismiss</a>
                        </div>
                    </div>
                {% endif %}
                <div id="user-info">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        Welcome <a href="{{ path('_user_show', {'id': app.user.id}) }}">{{ app.user.firstName }} {{ app.user.lastName }}</a> &mdash; <a href="{{ path('_logout') }}">Logout</a>
                    {% else %}
                        <a href="{{ path('_login') }}">Login</a>
                    {% endif %}
                    &mdash;
                    Academic Year: <select id="academic-year"></select>
                </div>
            </div>
            <div id="main">
                <div id="content-wrapper">
                    <div id="content">
                        {% block content %}
                        {% endblock %}
                        <br class="clear-fix" />
                    </div>
                </div>
                <div id="navigation">
                    <ul id="menu-links">
                        {{ sidebar.nav_link('Home', '_home', 'home', page) }}
{#
                        {{ sidebar.nav_link('Path', '_path', 'path', page) }}
#}

                        {{ sidebar.nav_link('Quiz', '_quiz_list', 'quiz', page, 'ROLE_STUDENT') }}
                        {{ sidebar.nav_link('Survey', '_survey_list', 'survey', page, 'ROLE_PARENT') }}

{#
                        {{ sidebar.nav_link('Schedule', '_schedule', 'schedule', page) }}
                        {{ sidebar.nav_link('Attendance', '_attendance', 'attendance', page, 'ROLE_TA') }}
#}
                        {{ sidebar.nav_link('Messaging', '_message_list', 'message', page, 'ROLE_PARENT') }}

                        {{ sidebar.nav_link('Users', '_user_list', 'user', page, 'ROLE_TA') }}
                        {{ sidebar.nav_link('Districts', '_district_list', 'district', page, 'ROLE_TA') }}

                        {{ sidebar.nav_link('Analytics', '_analytics', 'analytics', page, 'ROLE_ADMIN') }}
                    </ul>
                    <br class="clear-fix" />
                </div>

                <br class="clear-fix" />
            </div>
        </div>
    </body>
</html>
