<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>IMPETUS - {% block title %}{% endblock %}</title>

        <link type="text/css" href="{{ asset('bundles/impetusapp/css/main.css') }}" rel="stylesheet" />

        <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script type="text/javascript" src="{{ path('fos_js_routing_js', { "callback": "fos.Router.setData" }) }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/impetusapp/js/jquery-1.6.3.min.js') }}"></script>

        {% block extrascripts %}
        {% endblock %}
    </head>
    <body>
        <div id="wrapper">
            <div id="header">
                <span id="title">
                    <a href="{{ path('_home') }}">IMPETUS Cooperative Learning</a>
                </span>
                <div id="user-info">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        Welcome <a href="{{ path('_user_show', {'id': app.user.id}) }}">{{ app.user.username }}</a> &mdash; Term: <select><option>2011</option></select> &mdash; <a href="{{ path('_logout') }}">Logout</a>
                    {% else %}
                        <a href="{{ path('_login') }}">Login</a>
                    {% endif %}
                </div>
            </div>
            <div id="main">
                <div id="content-wrapper">
                    <div id="content">
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
                <div id="navigation">
                    <ul id="menu-links">
                        <li class="{% if page == 'home' %}selected{% endif %}">
                            <a href="{{ path('_home') }}">Home</a>
                        </li>
                        <li class="{% if page == 'path' %}selected{% endif %}">
                            <a href="{{ path('_path') }}">Path</a>
                        </li>
                        <li class="{% if page == 'quiz' %}selected{% endif %}">
                            <a href="{{ path('_quiz') }}">Quiz</a>
                        </li>
                        <li class="{% if page == 'survey' %}selected{% endif %}">
                            <a href="{{ path('_survey') }}">Survey</a>
                        </li>
                        <li class="{% if page == 'attendance' %}selected{% endif %}">
                            <a href="{{ path('_attendance') }}">Attendance</a>
                        </li>
                        <li class="{% if page == 'schedule' %}selected{% endif %}">
                            <a href="{{ path('_schedule') }}">Schedule</a>
                        </li>

                        {% if is_granted('ROLE_TA') %}
                        <li class="{% if page == 'user' %}selected{% endif %}">
                            <a href="{{ path('_user_list') }}">Users</a>
                        </li>
                        <li class="{% if page == 'district' %}selected{% endif %}">
                            <a href="{{ path('_district_list') }}">Districts</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>

                <br class="clear-fix" />
            </div>
        </div>
    </body>
</html>
