{% extends "ImpetusAppBundle::layout.html.twig" %}

{% block title "Quiz List" %}

{% block extrascripts %}
    <link type="text/css" href="{{ asset('bundles/impetusapp/css/quiz.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}
    <h1>Quiz List</h1>

    <table id="quizzes-table">
        <tr>
            <th>Quiz</th>
            <th>Created</th>
            <th>Last Attempted</th>
            <th>Score</th>
        </tr>
    {% for quiz in quizzes %}
        {% if quiz.mostRecentAttempt %}
            {% set recent_attempt = '<a href="'~path('_quiz_list_attempts', { 'id': quiz.id })~'">'~quiz.mostRecentAttempt|date('M j, Y')~'</a>' %}
            {% set recent_score = quiz.correctAnswers~' / '~quiz.totalQuestions %}
         {% else %}
            {% set recent_attempt = 'No attempts' %}
            {% set recent_score = '- / -' %}
         {% endif %}
            <tr class="
{#
                {%- if message.messageRead is not null %}unread{% endif -%}
#}
            ">
                <td><a href="{{ path('_quiz_show', { 'id': quiz.id }) }}">{{ quiz.name }}</a></td>
                <td>{{ quiz.createdAt | date('M j, Y') }}</td>
                <td>{{ recent_attempt|raw }}</td>
                <td>{{ recent_score }}</td>
            </tr>
    {% else %}
        <tr>
            <td colspan="3"><i>No quizzes</i></td>
        </tr>
    {% endfor %}
    </table>

{% endblock %}