{% extends "ImpetusAppBundle:Quiz:quiz-show.html.twig" %}

{% block quiz_answer %}
    {% if question.answers|length == 1 %}
        <div class="answer">
            {{ question.answers[0].label }}
            <input type="text" name="user_answer[{{ question_number - 1  }}]" />
        </div>
    {% else %}
        {% for answer in question.answers %}
        <div class="answer">
            <input type="radio" name="user_answer[{{ question_number - 1 }}]" value="{{ answer.value }}" />
            {{ answer.label }}
        </div>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block quiz_submit %}
    <input type="submit" value="Grade Quiz" />
{% endblock %}