{% extends "ImpetusAppBundle::layout.html.twig" %}
{% use "ImpetusAppBundle:Macros:quiz-questions.html.twig" %}

{% block title "New Quiz" %}

{% block extrascripts %}
    <link type="text/css" href="{{ asset('bundles/impetusapp/css/quiz.css') }}" rel="stylesheet" />

    <script type="text/javascript" src="{{ asset('bundles/impetusapp/js/quiz.js') }}"></script>

    <script type="text/javascript">
      $(function() {
          Quiz.init();
      });
    </script>
{% endblock %}

{% form_theme quizForm _self %}

{% block content %}
    <div style="float: right; font-size: 16px;">
        <span style="display:inline-block;">
            <a href="{{ path('_quiz_help') }}" style="text-decoration: none;">
                <img height="24" width="24" src="{{ asset('bundles/impetusapp/images/questionbook24.png') }}" style="vertical-align: middle;" />
                Help
            </a>
        </span>
    </div>
    <h1>New Quiz</h1>
    <form action="{{ path('_quiz_new') }}" id="quiz-form" method="post" novalidate="novalidate" {{ form_enctype(quizForm) }}>
        {{ form_errors(quizForm) }}
        {{ form_row(quizForm._token) }}

        {{ form_row(quizForm.name) }}
        {{ form_row(quizForm.instructions) }}

        {% set question = quizForm.questions.get('prototype') %}
        <div id="problems" data-prototype="{{ block('new_problem')|escape }}">
            {% for question in quizForm.questions %}
                {{ block('new_problem') }}
            {% endfor %}

            <div id="problems-marker"></div>
            <p style="margin-bottom: 15px;">
                <a href="#" id="add-problem">Add Problem</a>
            </p>
        </div>

        <input type="submit" value="Save Quiz" />
    </form>
{% endblock %}