{% extends "ImpetusAppBundle::layout.html.twig" %}
{% import "ImpetusAppBundle:Macros:roster.html.twig" as roster %}

{% block title "Edit District: " %}

{% block extrascripts %}
    <link type="text/css" href="{{ asset('bundles/impetusapp/css/district.css') }}" rel="stylesheet" />

    <script type="text/javascript" src="{{ asset('bundles/impetusapp/js/jquery-ui-autocomplete.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/impetusapp/js/district.js') }}"></script>

    <script type="text/javascript">
      $(function() {
          District.init({{ id }});
      });
    </script>
{% endblock %}

{% block content %}
    <h1>Edit District</h1>
    {% if message is defined %}
        {{ message }}
    {% endif %}
    <form action="{{ path('_district_edit', { 'id': id }) }}" id="district-form" method="post" novalidate="novalidate" {{ form_enctype(form) }}>
        {{ form_errors(form) }}

        {{ form_rest(form) }}

        <input type="submit" value="Edit District" />
    </form>

    <h1 style="margin-top: 10px;">Roster</h1>
    <div class="district-panel">
        <h2>Teachers</h2>
        <form id="add-teacher" class="user-add-form">
            <input type="text" placeholder="Search for a teacher to add..." />
        </form>
        {{ roster.user_list(teachers, 'teacher', 'No teachers') }}

        <h2>Assistants</h2>
        <form id="add-assistant" class="user-add-form">
            <input type="text" placeholder="Search for an assistant to add..." />
        </form>
        {{ roster.user_list(assistants, 'assistant', 'No assistants') }}

        <h2>Students</h2>
        <form id="add-student" class="user-add-form">
            <input type="text" placeholder="Search for a student to add..." />
        </form>
        {{ roster.student_list(students, 'No students') }}
    </div>

    <div class="district-panel">
        <h2>Actions</h2>
        <ul>
            <li><a href="#">Import Roster from Previous Academic Year</a></li>
        </ul>
    </div>
{% endblock %}
