{% extends "ImpetusAppBundle::layout.html.twig" %}

{% block title "District List" %}

{% block extrascripts %}
    <link type="text/css" href="{{ asset('bundles/impetusapp/css/district.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}
    <h1>Districts</h1>
    {% if is_granted('ROLE_ADMIN') %}
        <p style="margin: 16px 0;"><a href="{{ path('_district_new') }}" style="font-size: 16px;">New District</a></p>
    {% endif %}

    <table id="district-table">
        <tr>
            <th>District</th>
            <th class="actions">Actions</th>
        </tr>
    {% for district in districts %}
        <tr>
            <td><a href="{{ path('_district_edit', { 'id': district.id }) }}">{{ district.name }}</a></td>
            <td><a href="{{ path('_district_edit', { 'id': district.id }) }}">Edit</a></td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}