{% extends "ImpetusAppBundle::layout.html.twig" %}

{% block title "New District" %}

{% block extrascripts %}
    <link type="text/css" href="{{ asset('bundles/impetusapp/css/district.css') }}" rel="stylesheet" />
{% endblock %}

{% form_theme form _self %}

{% block content %}
    <h1>New District</h1>
    {% if message is defined %}
        {{ message }}
    {% endif %}
    <form action="{{ path('_district_new') }}" id="district-form" method="post" novalidate="novalidate" {{ form_enctype(form) }}>
        {{ form_errors(form) }}

        {{ form_rest(form) }}

        <input type="submit" value="Save District" />
    </form>
{% endblock %}