{% extends "ImpetusAppBundle::layout.html.twig" %}

{% block title "Message List" %}

{% block extrascripts %}
    <link type="text/css" href="{{ asset('bundles/impetusapp/css/message.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}
    <h1>Messages</h1>
    <p><a href="{{ path('_message_new') }}" style="font-size: 16px;">New Message</a></p>

    <table id="message-table">
        <tr>
            <th>Subject</th>
            <th>From</th>
            <th>Sent At</th>
            <th class="actions">Actions</th>
        </tr>
    {% for message in messages %}
            <tr class="
                {%- if message.messageRead is not null %}unread{% endif -%}
            ">
                <td><a href="{{ path('_message_show', { 'id': message.id }) }}">{{ message.subject }}</a></td>
                <td style="width: 180px;"><a href="{{ path('_user_show', { 'id': message.user_id  }) }}">{{ message.sender }}</a></td>
                <td style="width: 250px;">{{ message.sentAt | date('D, M j, Y \\a\\t g:iA') }}</td>
                <td>
                    <a href="#" quiz-id="{{ message.id }}" class="delete-message">Delete</a>
                </td>
            </tr>
    {% else %}
        <tr>
            <td colspan="4"><i>No messages</i></td>
        </tr>
    {% endfor %}
    </table>


{% endblock %}