{% extends "ImpetusAppBundle::layout.html.twig" %}

{% block title "New Message" %}

{% block extrascripts %}
    <link type="text/css" href="{{ asset('bundles/impetusapp/css/message.css') }}" rel="stylesheet" />

    <script type="text/javascript" src="{{ asset('bundles/impetusapp/js/json2.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/impetusapp/js/jquery-ui-autocomplete.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/impetusapp/js/message.js') }}"></script>

    <script type="text/javascript">
      $(function() {
          Message.init({{ app.user.id }});
      });
    </script>
{% endblock %}

{% block content %}
    <h1>New Message</h1>
    <form action="{{ path('_message_new') }}" id="message-form" method="post" novalidate="novalidate" {{ form_enctype(form) }}>
        {{ form_errors(form) }}

        <label>To</label>
        <div id="recipients-wrapper">
            <div>
                <span id="recipient-add">
                    <span>
                        <a href="#">Add recipient</a>
                    </span>
                    <input type="text" name="recipient-search" />
                </span>
            </div>

            <input type="hidden" id="recipients" name="recipients" />
        </div>

        {{ form_rest(form) }}

        <input type="submit" value="Send Message" />
    </form>
{% endblock %}