{% extends "ImpetusAppBundle::layout.html.twig" %}

{% block title "Path: Exponents 1" %}

{% block extrascripts %}
    <link type="text/css" href="{{ asset('bundles/impetusapp/css/path.css') }}" rel="stylesheet" />

    <script type="text/javascript">
    </script>
{% endblock %}

{% block content %}
    <h1>{{ node.name }}</h1>


    <h2>Common Core State Standards</h2>
    {{ node.data.standard|default('No data')|raw }}

    <h2>Quizzes</h2>
    {{ node.data.quizzes|default('No data')|raw }}

    <h2>Khan Academy Resources</h2>
    {{ node.data.videos|default('No data')|raw }}

{% endblock %}