{% extends "ImpetusAppBundle::layout.html.twig" %}

{% block title "New User" %}

{% block extrascripts %}
    <link type="text/css" href="{{ asset('bundles/impetusapp/css/user.css') }}" rel="stylesheet" />

    <script type="text/javascript" src="{{ asset('bundles/impetusapp/js/user.js') }}"></script>

    <script type="text/javascript">
      $(function() {
          User.init({{ id }});
      });
    </script>

    <script type="text/html">

    </script>
{% endblock %}

{% block content %}
    <h1>Edit User</h1>

    <form action="{{ path('_user_edit', { 'id': id }) }}" id="user-form" method="post" novalidate="novalidate">
        {{ form_row(form._token) }}
        {{ form_row(eduForm._token) }}
        {{ form_errors(form) }}
        {{ form_errors(eduForm) }}

        <fieldset class="user-panel">
            <legend>Required</legend>
            <label>Username</label>
            <input type="text" disabled="disabled" value="{{ username }}" />

            {{ form_row(form.password) }}
            {{ form_row(form.firstName) }}
            {{ form_row(form.lastName) }}
            {{ form_row(form.email) }}
            {{ form_row(form.userRoles) }}
        </fieldset>

        <fieldset class="user-panel">
            <legend>Supplemental</legend>

            {{ form_row(form.gender) }}
            {{ form_row(form.birthday) }}
            {{ form_row(form.ethnicity) }}
            {{ form_row(form.graduated) }}
            {{ form_row(form.college) }}
            {{ form_row(form.major) }}
        </fieldset>

        {{ form_rest(form) }}

        <br class="clear-fix" />

    {% if studentError == null %}
        <fieldset class="user-panel education-panel">
            <legend>Activities</legend>
            <div id="activities" data-prototype="{{ form_row(eduForm.activities.get('prototype'))|e }}">
                {{ form_errors(eduForm.activities) }}
                {% for activity in eduForm.activities %}
                    <div class="activities-row">
                        {{ form_widget(activity.activity) }}
                        &mdash;
                        <a href="#" class="remove-activity">Remove</a>
                    </div>
                {% endfor %}

                <div id="activities-marker"></div>
                <p style="margin-top: 0;">
                    <a href="#" class="add-activity">Add Activity</a>
                </p>
            </div>
        </fieldset>

        <br class="clear-fix" />

        <fieldset class="user-panel education-panel">
            <legend>Courses</legend>
            <div id="courses" data-prototype="{{ form_row(eduForm.courses.get('prototype'))|e }}">
                {{ form_errors(eduForm.courses) }}
                {% for course in eduForm.courses %}
                    <div class="courses-row">
                        {{ form_widget(course.course) }}
                        &mdash;
                        <a href="#" class="remove-course">Remove</a>
                    </div>
                {% endfor %}

                <div id="courses-marker"></div>
                <p style="margin-top: 0;">
                    <a href="#" class="add-course">Add Course</a>
                </p>
            </div>
        </fieldset>

        <br class="clear-fix" />

        <fieldset class="user-panel education-panel">
            <legend>Standardized Exams</legend>
            <div id="exams" data-prototype="{{ form_row(eduForm.exams.get('prototype'))|e }}">
                {{ form_errors(eduForm.exams) }}
                {% for exam in eduForm.exams %}
                    <div class="exams-row">
                        {{ form_widget(exam.exam) }}
                        &mdash;
                        Score:
                        {{ form_widget(exam.score) }}
                        &mdash;
                        <a href="#" class="remove-exam">Remove</a>
                    </div>
                {% endfor %}

                <div id="exams-marker"></div>
                <p style="margin-top: 0;">
                    <a href="#" class="add-exam">Add Exam</a>
                </p>
            </div>
        </fieldset>

    {% else %}
        <div>
            <p>{{ studentError }}</p>
            <p>If they are a student, <a href="{{ path('_district_list') }}">add them to a District Roster</a></p>
        </div>
    {% endif %}

        <br class="clear-fix" />
        <input type="submit" value="Edit User" />
    </form>
{% endblock %}
