{% extends "ImpetusAppBundle::layout.html.twig" %}

{% block title "User List" %}

{% block extrascripts %}
    <link type="text/css" href="{{ asset('bundles/impetusapp/css/user.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}
    <h1>Users</h1>
    <p style="margin: 14px 0;"><a href="{{ path('_user_new') }}" style="font-size: 16px;">New User</a></p>

    <table id="user-table">
        <tr>
            <th>User</th>
            <th>Role</th>
            <th class="actions">Actions</th>
        </tr>
    {% for user in users %}
        <tr>
            <td><a href="{{ path('_user_show', { 'id': user.id }) }}">{{ user.lastName }}, {{ user.firstName }} </a></td>
            <td>{{ user.getRoles[0].toHumanReadable }}</td>
            <td><a href="{{ path('_user_edit', { 'id': user.id }) }}">Edit</a></td>
        </tr>
    {% else %}
        <tr>
            <td colspan="3"><i>No users</i></td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}