{% extends "ImpetusAppBundle::layout.html.twig" %}

{% block title "New User" %}

{% block extrascripts %}
    <link type="text/css" href="{{ asset('bundles/impetusapp/css/user.css') }}" rel="stylesheet" />
{% endblock %}

{% form_theme form _self %}

{% block content %}
    <h1>New User</h1>
    <form action="{{ path('_user_new') }}" id="user-form" method="post" novalidate="novalidate" {{ form_enctype(form) }}>
        {{ form_errors(form) }}

        <fieldset class="user-panel">
            <legend>Required</legend>

            {{ form_row(form.username) }}
            {{ form_row(form.password) }}
            {{ form_row(form.firstName) }}
            {{ form_row(form.lastName) }}
            {{ form_row(form.email) }}

            <div>
                <label class=" required" for="createUser_userRoles">User Role</label>
                <select id="createUser_userRoles" required="required" name="createUser[userRoles][]">
                    <option value="1">Admin</option>
                    <option value="2">Teacher</option>
                    <option value="3">TA</option>
                    <option value="4">Mentor</option>
                    <option value="5">Student</option>
                    <option value="6">Parent</option>
                </select>
            </div>
        </fieldset>

        <fieldset class="user-panel">
            <legend>Supplemental</legend>

            {{ form_row(form.gender) }}
            {{ form_row(form.birthday) }}
            {{ form_row(form.ethnicity) }}
            {{ form_row(form.graduated) }}
            {{ form_row(form.diploma) }}
            {{ form_row(form.college) }}
            {{ form_row(form.major) }}
        </fieldset>

        {{ form_row(form._token) }}

        <br class="clear-fix" />

        <input type="submit" value="Create User" />
    </form>
{% endblock %}
