{% extends "ImpetusAppBundle::layout.html.twig" %}
{% import "ImpetusAppBundle:Macros:table.html.twig" as table %}

{% set fullName = user.firstName ~ " " ~ user.lastName %}

{% block title "Profile: " ~ fullName %}

{% block extrascripts %}
    <link type="text/css" href="{{ asset('bundles/impetusapp/css/user.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}
    <div id="user-profile">
        <div id="user-heading">
            <div id="user-avatar">
                No Avatar
            </div>
            <div id="user-basic-info">
                <h1>{{ fullName }} ({{ user.username }})</h1>

                <p>
                    {% for role in user.userRoles %}
                        {% if role == "ROLE_ADMIN" %}
                            Administrator
                        {% elseif role == "ROLE_TEACHER" %}
                            Teacher
                        {% elseif role == "ROLE_STUDENT" %}
                            {% if student != null %}
                                Student at {{ student.roster.district.name }}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </p>

                <p>{{ user.email }}</p>
            </div>

            <br class="clear-fix" />
        </div>

    {% if is_granted('ROLE_TEACHER') %}
        <div class="user-panel">
            <h2>Personal</h2>
            <table>
                {{ table.info_row('Birthday', user.birthday|date("Y-m-d")) }}
                {{ table.divider }}

                {{ table.info_row('Ethnicity', user.ethnicity) }}
                {{ table.divider }}

                {{ table.info_row('Gender', user.gender) }}
            </table>

            <br class="clear-fix" />
        </div>

        {% if student != null %}
        <div class="user-panel">
            <h2>Education</h2>
            <table>
                <tr>
                    <th class="label">Academic Term</th>
                    <td class="data">
                        {% if student.roster.district != null %}
                            Grade {{ student.grade }} at {{ student.roster.district.name }}
                        {% else %}
                            <i>Not entered</i>
                        {% endif %}
                    </td>
                </tr>
                {{ table.divider }}

                <tr>
                    <th class="label">Activities</th>
                    <td class="data">
                        <ul class="data-list">
                        {% for activity in student.activities %}
                            <li>{{ activity.activity.name }}</li>
                        {% else %}
                            <li><i>Not entered</i></li>
                        {% endfor %}
                        </ul>
                    </td>
                </tr>
                {{ table.divider }}

                <tr>
                    <th class="label">Courses</th>
                    <td class="data">
                        <ul class="data-list">
                        {% for course in student.courses %}
                            <li>{{ course.course.name }}</li>
                        {% else %}
                            <li><i>Not entered</i></li>
                        {% endfor %}
                        </ul>
                    </td>
                </tr>
                {{ table.divider }}

                <tr>
                    <th class="label">Standardized Exams</th>
                    <td class="data">
                        <ul class="data-list">
                        {% for exam in student.exams %}
                            <li>{{ exam.exam.name }}: {{ exam.score }}</li>
                        {% else %}
                            <li><i>Not entered</i></li>
                        {% endfor %}
                        </ul>
                    </td>
                </tr>
                {{ table.divider }}

                {{ table.info_row('Graduated', user.graduated) }}
                {{ table.divider }}

                {{ table.info_row('College', user.college) }}
                {{ table.divider }}

                {{ table.info_row('Major', user.major) }}
            </table>

            <br class="clear-fix" />
        </div>
        {% endif %}
    {% endif %}

{#
        <div class="user-panel">
            <h2>Actions</h2>

            <ul style="padding-left: 16px;">
                <li><a href="#">View Assessment Data</a></li>
                {% if is_granted('ROLE_TEACHER') %}
                    <li><a href="{{ path('_user_edit', {'id': user.id }) }}">Edit User</a></li>
                {% endif %}
            </ul>
        </div>
#}

        <br class="clear-fix" />
    </div>
{% endblock %}
