{% extends "ImpetusAppBundle::layout.html.twig" %}

{% block title "Config: Year" %}

{% block extrascripts %}
    <link type="text/css" href="{{ asset('bundles/impetusapp/css/config.css') }}" rel="stylesheet" />
{% endblock %}

{% form_theme form _self %}

{% block content %}
    <h1>New year</h1>

    <form action="{{ path('_config_years_new') }}" id="year-form" method="post" novalidate="novalidate" {{ form_enctype(form) }}>
        {{ form_errors(form) }}

        {{ form_row(form.year) }}

        {{ form_row(form._token) }}

        <input type="submit" value="Create" />
    </form>
{% endblock %}
