{% extends "ImpetusAppBundle::layout.html.twig" %}

{% block title "Survey List" %}

{% block extrascripts %}
    <link type="text/css" href="{{ asset('bundles/impetusapp/css/survey.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}
    <h1>Survey List</h1>
    <p style="margin: 16px 0;"><a href="{{ path('_survey_new') }}" style="font-size: 16px;">New Survey</a></p>

    <table id="surveys-table">
        <tr>
            <th>Survey</th>
            <th>Created</th>
        </tr>
    {% for survey in surveys %}
            <tr>
                <td><a href="{{ path('_survey_edit', { 'id': survey.id }) }}">{{ survey.name }}</a></td>
                <td>{{ survey.createdAt | date('M j, Y') }}</td>
            </tr>
    {% else %}
        <tr>
            <td colspan="3"><i>No surveys</i></td>
        </tr>
    {% endfor %}
    </table>

{% endblock %}