<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>IMPETUS - Register</title>
        {% stylesheets '@ImpetusAppBundle/Resources/public/css/login.css' %}
            <link type="text/css" href="{{ asset_url }}" rel="stylesheet" />
        {% endstylesheets %}
    </head>
    <body>
        <div id="content">
            <h1>IMPETUS Register</h1>
            <form action="{{ path('_register_process') }}" id="register-form" method="post" novalidate="novalidate" {{ form_enctype(form) }}>
                <div>
                    {{ form_label(form.username, 'Username:') }}
                    <br />
                    {{ form_widget(form.username) }}
                    {{ form_errors(form.username) }}
                </div>
                <div>
                    {{ form_label(form.password, 'Password:') }}
                    <br />
                    {{ form_widget(form.password) }}
                    {{ form_errors(form.password) }}
                </div>
                <div>
                    {{ form_label(form.confirmPassword, 'Confirm Password:') }}
                    <br />
                    {{ form_widget(form.confirmPassword) }}
                    {{ form_errors(form.confirmPassword) }}
                </div>

                {{ form_rest(form) }}

                <input type="submit" value="Register" />
            </form>
        </div>
    </body>
</html>